<div class="loading-spinner-container">
    <RadzenProgressBarCircular Value="100" ShowValue="false"
                               Mode="ProgressBarMode.Indeterminate"
                               Size="ProgressBarCircularSize.Large" />
    <p class="loading-text">Loading...</p>
</div>
