<div class="d-flex justify-content-center align-items-center p-4">
    <RadzenProgressBarCircular Value="100" ShowValue="false"
                               Mode="ProgressBarMode.Indeterminate"
                               Size="ProgressBarCircularSize.Large" />
</div>
