################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WEB/bin/Debug/net8.0
/WEB/obj
/src
