<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Warzone Tournament Platform</title>
    <link rel="stylesheet" href="lib/radzen/css/default.css" />
    <link rel="stylesheet" href="css/app.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="lib/radzen/js/radzen.blazor.js"></script>
    <script src="js/signalr.js"></script>
</body>

</html>
